<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nostalgia Tunes</title>
  <link href="/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>
  <header>
    <h1> <a href="/"><img src="https://see.fontimg.com/api/renderfont4/v51E/eyJyIjoiZnMiLCJoIjo4MCwidyI6MTAwMCwiZnMiOjgwLCJmZ2MiOiIjRTJCMTBDIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Tm9zdGFsZ2lhIFR1bmVz/discoteque-st.png" alt="Disco fonts"></a></h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    {{#if loggedIn}}
    <aside id="playlist">
      <h2>Playlists</h2>
      <form>
        <input type="text" id="playlistName" name="playlistName"><br>
        <button id="addPlaylistBtn">Add Playlist</button>
      </form>
      
    </aside>
    {{/if}}
    <div class="gallery">
        <div style="background-color: rgba(255,255,255,.5);">
      {{{body}}}
      </div>
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/logout.js"></script>
  {{/if}}
</body>

</html>