<div class="center">
  <p class="welcome">Welcome To Our Website</p>
</div>
<div class="center">
  <div>
    <div>
      <div>
        <h1 class="text-center">Our Mission</h1>
      </div>
      <div class="caption">
        <p>We aim to give our users the chance to walk down memory lane and revisit the greatest hits of earlier generations.
          Granting this accessibility is important because it serves as a way for all of us to cherish our dearest memories and have an available reference to them through
          custom playlists.
        </p>
      </div>
    </div>
  </div>
</div>