

<div class="row mb-4 project">
  {{#if loggedIn}}
  <p>Welcome</p>
  {{else}}
  <p>Log in to access all of our features!</p>
  {{/if}}
</div>

<form>
  {{#if loggedIn}}
  <aside id="playlist">
    <h2>Playlists</h2>
    <form>
      <input type="text" id="playlistName" name="playlistName"><br>
      <button id="addPlaylistBtn">Add Playlist</button>
    </form>
    {{#each playlists as |playlist|}}
    <div>{{playlist.name}}</div>
    {{/each}}
  </aside>
  <div class="nativeDatePicker">
    <label for="musicDate">Enter the date you want music from:</label>
    <input type="date" id="musicDay" name="startDay">
    <span class="validity"></span>
  </div>
  {{!-- <p class="fallbackLabel">Enter the date you want music from:</p> --}}
  {{!-- <div class="fallbackDatePicker"> --}}
    {{!-- <span>
      <label for="day">Day:</label>
      <select id="day" name="day">
      </select>
    </span>
    <span>
      <label for="month">Month:</label>
      <select id="month" name="month">
        <option selected>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    </span>
    <span>
      <label for="year">Year:</label>
      <select id="year" name="year">
      </select>
    </span> --}}
    
  {{!-- </div> --}}
  <button id="submitbutton">submit</button>
</form>



<div>
  <h2>Top 20 songs</h2>
  <div id="songs"></div>
</div>
{{/if}}

<script src="/homepage.js"></script>

