

<div class="row mb-4 project">
  {{#if loggedIn}}
  <p>Welcome</p>
  {{else}}
  <p>Log in to access all of our features!</p>
  {{/if}}
</div>

<form>
  {{#if loggedIn}}
  <aside id="playlist">
    <h2>Playlists</h2>
    <form>
      <input type="text" id="playlistName" name="playlistName"><br>
      <button id="addPlaylistBtn">Add Playlist</button>
    </form>
    {{#each playlists as |playlist|}}
    <div>{{playlist.name}}</div>
    {{/each}}
  </aside>
  {{!-- <div class="nativeDatePicker">
    <label for="musicDate">Enter the date you want music from:</label>
    <input type="date" id="musicDay" name="startDay">
    <span class="validity"></span>
  </div>
  
  <button id="submitbutton">submit</button> --}}
</form>



{{!-- <div>
  <h2>Top 20 songs</h2>
  <div id="songs"></div>
</div> --}}
{{/if}}

<script src="/homepage.js"></script>

