<h2 class="h2Tag">{{playlist.name}}</h2>
{{#each playlist.songs as |song|}}
<p class="pTag">{{song.name}} by {{song.artist}}</p>
{{/each}}
<form>
<div class="nativeDatePicker">
    <label for="musicDate">Enter the date you want music from:</label>
    <input type="date" id="musicDay" name="startDay">
    <span class="validity"></span>
    <button id="submitbutton">submit</button>
  </div>
<div>
  <h2 class="hide">Playlist's songs</h2>
  <div id="songs"></div>
</div>
  
</form>
<script src="/playlist.js"></script>