<div class="row mb-4 project">
  <h2 style="text-align:center">Choose Playlist</h2>
</div>

<form>
  
  <aside id="playlist">
    <h2>Playlists</h2>
    {{#each user.playlists as |playlist|}}
    <h3><a href="/playlist/{{playlist.id}}">{{playlist.name}}</a></h3>
    {{/each}}
  </aside>
 
  
</form>




