.loginContainer {
  background-image: url(/public/images/boomboxes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  /* font-family: disco;?? */
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

